.Grid {
  --square-size: 48px;
  --grid-count-size: 40px;
  --grid-count-text-size: 28px;
  --bg-color-dark: rgba(0, 0, 0, 0.1);

  table-layout: fixed;
  user-select: none;
}

.Grid__square {
  position: relative;
  width: var(--square-size);
  height: var(--square-size);
  border: 2px dashed #ccc;
}

.Grid__square--dark {
  background: var(--bg-color-dark);
}

.Grid__square--guide {
  vertical-align: middle;
  text-align: center;
  border: none;
}

.Grid__count {
  display: inline-block;
  width: var(--grid-count-size);
  height: var(--grid-count-size);
  font-size: var(--grid-count-text-size);
  line-height: var(--grid-count-size);

  font-weight: bold;
  text-shadow: 1px 1px #666;
}

.Grid__count--consecutive {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}
